body{
  background-image: url(wood-BG.jpg);
}

.whole{

}

.boardBorder{
  text-align: center;
  /*padding-top: 20px;*/
}

.board {
  background-color: rgba(132, 105, 7, 0.70);
  height: 328px;
  width: 328px;
  text-align:center;
  margin: auto;
  /*padding: 35px 0;*/
}

.r1, .r2, .r0 {
  /*border: 1px solid white;*/
  text-align: center;
  height: 108px;
  width: 330px;
  /*display: inline-block;*/
  float:left;
  padding:0;
  margin: 0;
  border-collapse: collapse;
}


.r1 div, .r2 div , .r0 div{
  border:5px solid white;
  border-collapse: collapse;
  /*background-color: rgba(0, 0, 0, 0.75);*/
  float: left;
  height: 100px;
  width:100px;
  padding: 0;
  margin: 0;
}


.butts{
  width: 330px;
  margin: auto;
  text-align: left;
  /*border: 2px dotted red;*/
}

.reset, .ai{
  display: inline-block;
}

#reset, #ai{
  height:30px;
  width: 100px;
  font-weight: bold;
}

#status{
  font-size: 30px;
  color: white;
  font-family: Cursive;
  padding: 0;
  margin: 10px,0,0,0;
}
